asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.3.1
Django==2.2.13
django-cors-headers==2.4.0
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
ecdsa==0.13
future==0.17.1
idna==2.7
psycopg2-binary==2.7.7
pyasn1==0.4.4
pycparser==2.19
PyJWT==1.6.4
python-jose==3.0.1
pytz==2018.7
rsa==4.0
six==1.11.0
sqlparse==0.3.0
