<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h1 id="title"> Welcome to Opensorcery. </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 id="description"> Gamified Open Source contributions. </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button type="button" class="btn btn-outline-dark btn-lg"> Sign Up </button>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-outline-dark btn-lg"> Sign In </button>
          </div>
        </div>
      </div>
</body>

<style>

body {
  background-color: #67b527;
  }

div.col-sm-6 button {
  margin: auto;
  display: block;
}

div.col-sm-12 h1,h2 {
  text-align: center;
}

#title {
  font-size: 72px; 
}

#description {
  font-size: 40px; 
}

div.row {
  padding: 1.5em;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

</style>
